:root{
    --bg-light: #fafafa;
    --text-light: #fff;
    --table-light: rgba(255, 255, 255, 0.6);
    --bg-dark: #282828;
    --text-dark: #000;
    --table-dark: rgba(56, 56, 56, 0.8);
    --table-dark-hover: #484848;
    --purple: #9883e5;
    --purple-hover: #8c75df;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-light);
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.filter-container {
    display: flex;
    width: 50%;
    justify-content: end;
    align-items: flex-end;
}

.cim-light {
    color: white;
}

.cim {
    font-size: 64px;
    text-transform: uppercase;
}

.cim2 {
    position: absolute;
    font-size: 160px;
    opacity: 0.1;

}

.filter-container button {
    border: none;
    border-radius: 20px;
    color: white;
    background-color: var(--purple);
    width: 100px;
    height: 40px;
}

.filter-container button:hover {
    background-color: var(--purple-hover);
}


table {
    width: 50%;
    border-collapse: separate;
    border-spacing: 0 1em;
}
tr {
    color: var(--text-dark);
    background-color: var(--table-light);
    margin: 20px;
    border-radius: 15px;
    padding-bottom: 1em;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

th {
    border-bottom: 2px solid var(--purple);
}

td, th {
    width: 100px;
    height: 4em;
    text-align: center;
    cursor:default;
}

.dark-bg {
    background-color: var(--bg-dark);
}

.dark {
    background-color: var(--table-dark);
    color: var(--text-light);
}



tbody > tr:hover {
    animation-name: hover;
    animation-duration: 400ms;
    background-color: var(--purple-hover);
}

td:first-child, th:first-child{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

td:last-child, th:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

@media (max-width: 1100px) {
    table {
        width: 80%;
        border-collapse: separate;
        border-spacing: 0 0.5em;
    }
    .filter-container {
        display: flex;
        width: 80%;
        justify-content: end;
        align-items: flex-end;
    }
}

@media (max-width: 650px) {
    table {
        width: 90%;
        border-collapse: separate;
        border-spacing: 0 0.5em;
    }
    .filter-container {
        display: flex;
        width: 90%;
        justify-content: end;
        align-items: flex-end;
    }
}

@media (max-width: 420px) {
    td, th {
        width: 80px;
        height: 5em;
        padding-left: 10px;
        text-align: center;
        cursor:default;
    }
}

@keyframes hover {
    from {background-color: rgba(0, 0, 0, 0);}
    to {background-color: var(--purple-hover);}
  }